// 全局class

// 单行文本溢出
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@font-face {
  font-weight: 400;
  font-family: 'Helvetica';
  font-style: normal;
  src: url('../../public/font/Helvetica.ttc') format('truetype');
}
@font-face {
  font-weight: 700;
  font-family: 'Helvetica';
  font-style: normal;
  src: url('../../public/font/Helvetica.ttc') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'LoRes9OT';
  font-style: normal;
  src: url('../../public/font/LoRes9PlusOTNarrowRegular.otf') format('truetype');
}
@font-face {
  font-weight: 700;
  font-family: 'LoRes9OT';
  font-style: normal;
  src: url('../../public/font/LoRes9OTWideBold.otf') format('truetype');
}

// 清浮动
.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }

  &::after {
    display: block;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
}
